<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Corner Checker</title>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
	  <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type='text/css' href="css/bootstrap.css" />
    <link rel="stylesheet" type='text/css' href="css/style.css" />
    <script src="js/jquery.min"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/multi-dropdown.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117544384-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117544384-1');
    </script>
</head>

<body>
  <%- include partials/navigation.ejs %>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2>J League</h2>
      </div>
    </div>
  </div>
  <%- include partials/corner_data.ejs %>
</body>
</html>
